<!-- required plugins -->
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquerydatapicker/date.js"></script>
<script type="text/javascript" src="jquerydatapicker/jquery.datePicker.js"></script>
<script type="text/javascript">
jQuery( document ).ready(function() {
  var items = jQuery(".circulo");
  var itemrotateactual = -1;
  var itemestatico;
  comenzar();
  function comenzar(){
  jQuery(".circulo").removeClass('show');
  		if (itemrotateactual == items.length-1) {
  			itemrotateactual = 0;
  		}else{
  			itemrotateactual++;
  		};
  		//console.log('rotate'+itemrotateactual);
  		if (itemrotateactual == items.length-1) {
  			itemestatico = 0;
  		}else{
  			itemestatico = itemrotateactual+1;
  		};
  		
  		// console.log('estatco'+itemestatico);
  		jQuery(items[itemestatico]).addClass('show');
  		
	   	jQuery(items[itemrotateactual]).addClass('rotate');
		}
		function iniciarintervalo(){
			setInterval(function(){
			jQuery(items[itemrotateactual]).removeClass('rotate');
	           comenzar();
	        },1500);
		}
		iniciarintervalo();
//
	jQuery('.turn-me-into-datepicker')
		.datePicker({inline:true})
		.bind(
			'dateSelected',
			function(e, selectedDate, jQuerytd)
			{
				console.log('You selected ' + selectedDate);
			}
		);
});
</script>
<style type="text/css">
body{
margin: 0!important;
}
section{
height: 610px;
}
#circulos{
	width: 325px;
    height: 606px;
    border-bottom: 40px solid red;
    border-right: 40px solid red;
    border-top: 40px solid red;
    background: rgba(45, 56, 45, 0);
    -moz-border-radius: 0 2000px 2000px 0;
    -webkit-border-radius: 0 2000px 2000px 0;
    border-radius: 0 2000px 2000px 0;
    padding-top: 23px;
}
.circulo {
	background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
	visibility: hidden;
	position: absolute;
   	 width: 300px; 
     height: 580px; 
     /*background: #5cb85c;*/
     -moz-border-radius: 0 2000px 2000px 0;
     -webkit-border-radius: 0 2000px 2000px 0;
     border-radius: 0 2000px 2000px 0;
}	
.show{
	visibility: visible!important;
}
.rotate {
  z-index: 2;
  visibility: visible!important;
  transform-origin: left;
  -webkit-animation: rotate-circulo 1.5s ease-in-out; /* Safari 4+ */
  -moz-animation:    rotate-circulo 1.5s ease-in-out; /* Fx 5+ */
  -o-animation:      rotate-circulo 1.5s ease-in-out; /* Opera 12+ */
  animation:         rotate-circulo 1.5s ease-in-out; /* IE 10+, Fx 29+ */
}

@keyframes rotate-circulo {
  0%   {   transform:rotateY(0deg); }
  100% { transform:rotateY(-180deg);}
}
</style>
<section>
<!-- <div id="circulos">
	<div d class="circulo" style="background-image:url('http://www.ideal.es/ideal/granada/multimedia/201402/07/media/sc.jpg')">
	</div>
	<div class="circulo" style="background-image:url('http://cdn.mixme.com.br/wp-content/uploads/2013/07/Artistas_Page_DemiLovato-280x300.jpg')">
	</div>
	<div class="circulo" style="background-image:url('http://img.loquenosabias.com/tops10/2014/01/21/los-6-nuevos-artistas-adolescentes-que-daran-que-hablar-este-20146.jpg')">
	</div>
</div> -->
<div>
	<div class="turn-me-into-datepicker"></div>
</div>
</section>